.block {
  background-color: black;
  background-size: 200; 
  height: 200; 
}

.sidebar {
  background-color: #424242;
  height: 100vh;
  width: 30%;
  position: fixed;
}

.sidebartop {
  background-color: #424242;
  height: 100vh;
}

.editor {
  background-color: #212121;
  height: 100vh;
  width: 70%;
  margin-left: 30%;
}

.editortop {
  background-color: #212121;
  width: 100vw;
  height: 50vh;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(235, 231, 231);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #616161;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  text-decoration: none;
  color:rgb(235, 231, 231);
}

.menu-item:hover {
  color: rgb(201, 200, 200);
}

.blocky-div {
  position: absolute;
}

.blocklyFlyoutBackground {
  fill: #212121;
}

.challenge {
  margin-top: 90px;
  margin-left: 20px;
  margin-right: 20px;
}

.name {
  color:rgb(235, 231, 231);
}

.text {
  color:rgb(235, 231, 231);
}

.check {
  background-color: #007F21;
  border: none; 
  width: 60%;
  height: 44px;
  margin-left: 10%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.hint {
  background-color: #4DFF7B;
  border: none; 
  width: 20%;
  height: 44px;
  margin-right: 10%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.check,.hint:focus{
  outline: 0;
} 

.check:hover {
  opacity: 0.7;
  transition: opacity .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
}

.hint:hover{
  opacity: 0.7;
  transition: opacity .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: opacity .30s ease-in-out;
  -webkit-transition: opacity .30s ease-in-out;
}

.is-top {
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color .30s ease-in-out;
  -webkit-transition: background-color .30s ease-in-out;
}

.not-top {
  background-color: white;
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color .30s ease-in-out;
  -webkit-transition: background-color .30s ease-in-out;
}

.logout {
  text-decoration: none;
  border: none;
  padding: 13px;
  background-color: #26337F;
  cursor: pointer;
  color: white;
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color .30s ease-in-out;
  -webkit-transition: background-color .30s ease-in-out;
  transition: color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: color .30s ease-in-out;
  -webkit-transition: color .30s ease-in-out;
}

.logout:hover {
  background-color: grey;
  color: black;
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color .30s ease-in-out;
  -webkit-transition: background-color .30s ease-in-out;
  transition:color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: color .30s ease-in-out;
  -webkit-transition: color .30s ease-in-out;
}