@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html {
  margin: 0;
}

.home {
  background: url('../img/homepage-background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color:  white;

}

.getstarted {
  color: white;
  background-color: black;
  border: 0;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color  .30s ease-in-out;
  -webkit-transition: background-color  .30s ease-in-out;
  cursor: pointer;
}

.getstarted:focus {
  outline: none;
  background-color: white;
  color: black;
}

.getstarted:hover {
  background-color: white;
  color: black;
  transition: background-color .30s ease-in-out;
  /*vendor prefixes*/
  -moz-transition: background-color  .30s ease-in-out;
  -webkit-transition: background-color  .30s ease-in-out;
}

.intro {
  margin: 30px;
  font-family: 'Roboto'
}

.points {
  display: flex;
  margin: 20;
  justify-content: center;
}

.point {
  width: 33%;
}

.pointparagraph {
  width: 30%;
  margin: auto;
  margin-top: 20px;
}

.pointimage {
  width: 50%;
}

.introduction {
  text-align: center;
}

.startlearningbutton {

}

.testimonies {
  background: url('../img/homepage-background.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color:  white;
}

.footer {
  align-items: center;
  justify-content: center;
  display: flex;
}

.font {
  font-family: 'Roboto';
}