.landing {
  background: #CAE4DB;
  color: #414141;
  height: 100vh;
}

.main-container {
  display: flex;
  max-height: 100%;
  padding: 20px;
}

.left-container {
  flex: 0 1 50%;
  min-height: 100%;
  max-width: 50%;
  display: flex; 
  align-items: center;
  justify-content: flex-end;
}

.right-container {
  flex: 0 1 50%;
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%;
  max-width: 50%;
}

.codeblockeditor {
  background-color: #FEDCD2;
  color: #DF744A;
}

.classroom {
  background-color: #ffd54f;
  color: #DF744A;
}

.leaderboard {
  color:#ffd54f;
  background-color: #DF744A;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.left-container-landing {
  flex: 0 1 50%;
  min-height: 100%;
  max-width: 30%;
  display: flex; 
  align-items: center;
  justify-content: flex-end;
}

.right-container-landing {
  flex: 0 1 50%;
  display: flex;
  max-width: 70%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  min-height: 100%;
}

.quizmode {
  background-color: #CAE4DB;
  color: #414141;  
}

.featureouter {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3em;
  margin: 3%;
  align-items: start;
  justify-content: start;
}


.feature {
  width: 40%;
  font-size: 14px;
  background-color: #fff;
  background: hsla(0,0%,100%,.7);
  height: 100%;
  padding: 1px 1px 1px 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0px;
  margin: auto;
  background-color: #fffcfc;
  color: #414141;
}

.iconouter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: #DF744A;
  margin-top: 30px;
}

.icon::before {
  background-color: #FEDCD2;
  padding: 20px;
  border-radius: 100%;
  text-align: center;
  margin: 0px;
  font-size: 30px;
}

.icon-block {
  color: #FEDCD2;
  margin-top: 30px;
}

.icon-block::before {
  background-color: #DF744A;
  padding: 20px;
  border-radius: 100%;
  text-align: center;
  margin: 0px;
  font-size: 30px;
}

.blockouter {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 3em;
  margin: 3%;
  align-items: start;
  justify-content: start;
}


.block {
  width: 40%;
  font-size: 14px;
  height: 100%;
  padding: 1px 1px 1px 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 0px;
  margin: auto;
  color: #414141;
  background-color: #FEDCD2;
}

.getstarted {
  background-color: #ffd54f;
  color: #414141;
  text-align: center;
  padding: 33px;
}

li {
  list-style-type: none;
}

ul {
  padding: 0px;
}

.footer {
  background-color: #414141;
  color: #fffcfc;
  padding: 6%;
}

.socialicon::before {
  margin: 16px;
  background-color: #fffcfc;
  color: #414141;
  padding: 8px;
  border-radius: 100%;
  cursor: pointer;
}

.aelement {
  color:#fffcfc;
  text-decoration: none;
}