body {
  margin: 0;
}

.main {
  margin: 0px;
}

.name {
  margin: 0;
  color: black;
}

.profilepic {
  color: white;
  font-size: 130px;
  background-color: orange; 
  border-radius: 90px;
  width: 150px;
  height: 150px;
  margin: 20px;
}

.challengeblock {
  width: 80%;
  margin: 0;
  color: black;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 0;
  padding: 0;
}